SLACK_TOKEN=xoxb-XXXXXXXX
SLACK_SIGNING_SECRET=XXXXXXXXXXXXXXXXXXX
INCIDENT_CHANNEL_NAME=XXXXX
INCIDENT_BOT_NAME=XXXXX
INCIDENT_REPORT_CHANNEL_NAME=XXXXX

DB_HOST=db
DB_NAME=postgres
DB_USER=postgres
DB_PORT=5432
DB_SSL_MODE=True
DB_PASSWORD=root
POSTGRES=True


ZOOM_API_USER_ID=email@somewhere.com
ZOOM_API_KEY=xxxxxxxxxxxxxxxxxxxxxx
ZOOM_API_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

GOOGLE_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=xxxxxxxxxxxxxxxxxxx
GOOGLE_HOSTED_DOMAIN=xxxxxx.com