[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
psycopg2-binary = "==2.8.6"
Django = "==3.1.1"
python-dotenv = "*"
slackclient = "~=1.3"
isort = "*"
uwsgi = "*"
slugify = "*"
django-after-response = ">=0.2.2"
djangorestframework = ">=3.11"
bleach = "~=3.2.1"
bleach-whitelist = ">=0.0.10"
jsonfield = "~=3.1.0"
emoji-data-python = "==1.4.2"
statuspageio = ">=0.0.1"
markdown2 = ">=2.3.9"
apscheduler = "*"
black = "*"
python-jose = "*"
django-allauth = "*"
django-adminlte3 = "*"
bootstrap4 = "*"
atlassian-python-api = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
