{% extends "adminlte/base.html" %}
{% load static %}
{% load unslackify %}
{% load markdown_filter %}

{% block head %}
<link rel="stylesheet" href="{% static "incident_doc.css" %}">
{% endblock %}


{% block content %}
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Open incidents</h3>
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th style="width: 100px">#</th>
              <th style="width: 150px">Severity</th>
              <th style="width: 100px">Status</th>
              <th style="width: 220px">Reported Time</th>
              <th>Title</th>
            </tr>
          </thead>
          <tbody>
            {% for incident in incidents %}
            {% if incident.status_text|upper != 'RESOLVED' %}
            {% include 'incident_row.html' %}
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Closed incidents</h3>
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th style="width: 100px">#</th>
              <th style="width: 150px">Severity</th>
              <th style="width: 100px">Status</th>
              <th style="width: 220px">Reported Time</th>
              <th>Title</th>
            </tr>
          </thead>
          <tbody>
            {% for incident in incidents %}
            {% if incident.status_text|upper == 'RESOLVED' %}
            {% include 'incident_row.html' %}
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
  