{% extends "adminlte/base.html" %}
{% load static %}
{% load unslackify %}
{% load tz %}
{% load markdown_filter %}

{% block content_header %}
<div class="content-header">
    <h1 class="text-dark">#{{incident.pk}} - {{ incident.report }}</h1>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
        <div class="row">
            <div class="col-12 col-sm-4">
                <div class="info-box bg-light">
                    <div class="info-box-content">
                        <span class="info-box-text text-center text-muted">Severity</span>
                        <span class="info-box-number text-center text-muted mb-0">{{ incident.severity_emoji }} &nbsp; {{ incident.severity_text }}</span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4">
                <div class="info-box bg-light">
                    <div class="info-box-content">
                        <span class="info-box-text text-center text-muted">Status</span>
                        <span  id="status" class="info-box-number text-center text-muted mb-0"><strong class="{{ incident.status_text }} blink_me">{{ incident.status_text|upper }}</strong></span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4">
                <div class="info-box bg-light">
                    <div class="info-box-content">
                        <span class="info-box-text text-center text-muted">Duration</span>
                        <span  id="status" class="info-box-number text-center text-muted mb-0">{{ incident.duration}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Incident Details</h3>
        
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <p class="text-muted"></p>
                
                <ul>
                    {% if incident.summary %}<li><span><strong>Summary:</strong> </span>{{ incident.summary|unslackify|markdown_filter|safe  }}</li>{% endif %}
                    {% if incident.impact %}<li><span><strong>Impact:</strong> </span>{{ incident.impact|unslackify|markdown_filter|safe }}</li>{% endif %}
                    <li><span><strong>Reporter:</strong> </span>{{ incident.reporter.display_name }}</li>
                    {% if incident.lead %}<li><span><strong>Lead:</strong> </span>{{ incident.lead.full_name }}</li>{% endif %}
                    
                    {% if incident.zoom_meeting %}
                    <li><span><strong>Zoom Meeting:</strong> </span> <a href="{{ incident.zoom_meeting }}">{{ incident.zoom_meeting }}</a></li>
                    {% endif %}
                    <li><span><strong>Start Time:</strong> </span>{% if incident.start_time %}{{ incident.start_time }} UTC{% endif %}</li>
                    <li><span><strong>Report Time:</strong> </span>{% if incident.report_time %}{{ incident.report_time }} UTC {% endif %}</li>
                    
                    {% if incident.is_closed %}
                    <li><span><strong>End Time:</strong> </span>{{ incident.end_time }} UTC</li>
                    <li><span><strong>Duration:</strong> </span>{{ incident.duration}}</li>
                    {% endif %}
                    
                    {% if user_stats %}
                    <li><span><strong>Participants</strong>:</span>
                        <ul id="participant">
                            {% for stats in user_stats %}
                            <li>
                                {{ stats.user.display_name }} ({{stats.message_count}} messages)
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endif %}
                    {% if incident.post_mortem %}
                    <li><span>Post-Mortem:</span><a href="{{ incident.post_mortem }}"> {{ incident.post_mortem }}</a></li>
                    {%endif%}

                </ul>
            </div>
        </div>
        {% if incident.is_closed %}
        
        <div>
            {% if confluence and incident.post_mortem is None %}
            <a href="{% url 'export' incident.id %}" class="btn btn-block bg-gradient-primary btn-xs">Export Post-Mortem to Confluence</a>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>

{% if updates %}
<div class="timeline">
        <!-- Timeline time label -->
        <div class="time-label">
            <span class="bg-yellow">UPDATES</span>
        </div>
    {% for update in updates %}
    <div>
        <!-- Before each timeline item corresponds to one icon on the left scale -->
        <i class="fas fa-envelope bg-blue"></i>
        <!-- Timeline item -->
        <div class="timeline-item">
            <!-- Time -->
            <span class="time"><i class="fas fa-clock"></i> {{ update.timestamp|date:"m/d/y H:i:s" }} UTC</span>
            <!-- Header. Optional -->
            <h3 class="timeline-header">{{ update.user }}</h3>
            <!-- Body -->
            <div class="timeline-body">
                {{ update.text|stringformat:'s'|unslackify|markdown_filter|safe  }}
            </div>
        </div>
    </div>
    {% endfor %}
    
    <!-- The last icon means the story is complete -->
    <div>
        <i class="fas fa-clock bg-gray"></i>
    </div>
</div>
<br style="clear:both;" />
{% endif %}

{% if incident.timeline_events %}
<div class="timeline">
    <!-- Timeline time label -->
    <div class="time-label">
        <span class="bg-green">TIMELINE</span>
    </div>
    {% for event in incident.timeline_events.all %}
    <div>
        <!-- Before each timeline item corresponds to one icon on the left scale -->
        <i class="fas fa-envelope bg-blue"></i>
        <!-- Timeline item -->
        <div class="timeline-item">
            <!-- Time -->
            <span class="time"><i class="fas fa-clock"></i> {{ event.timestamp|date:"m/d/y H:i:s" }} UTC</span>
            <!-- Header. Optional -->
            <h3 class="timeline-header">{{ event.event_type }}</h3>
            <!-- Body -->
            <div class="timeline-body">
                {{ event.text|stringformat:'s'|unslackify|markdown_filter|safe  }}
            </div>
        </div>
    </div>
    {% endfor %}
    
    <!-- The last icon means the story is complete -->
    <div>
        <i class="fas fa-clock bg-gray"></i>
    </div>
</div>
<br style="clear:both;" />
{% endif %}

{% if actions %}
<h2>Actions</h2>
<ul>
  {% for action in actions.all %}
  <li>{{ action.details|unslackify|markdown_filter|safe }} </li>
  {% endfor %}
</ul>
{% endif %}
{% endblock %}
