
/* ------- Status bits-------- */

#status {
  color: grey;
}

#status .live {
  padding: 3px;
  background: red;
  color: lightpink;
  animation: blinker 1s linear infinite;
  border-radius: 8px;
}

#status .mitigated {
  padding: 3px;
  background: yellow;
  color: lightyellow;
  animation: blinker 1s linear infinite;
  border-radius: 8px;
}


#status .resolved {
  padding: 3px;
  background: green;
  color: lightgreen;
  border-radius: 8px;
}

@keyframes blinker {
  50% {
      opacity: 0.6;
  }
}

.timeline::after {
  content: '';
  position: absolute;
  width: 3px;
  /* background-color: #c3c8cf; */
  top: 0;
  bottom: 0;
  left: 28px;
  margin-left: -3px;
}